/* Turquoise */
.turquoise { background: #1abc9c; }
.turquoise-50 { background: #e8f8f5; }
.turquoise-100 { background: #d1f2eb; }
.turquoise-200 {  background: #a3e4d7; }
.turquoise-300 { background: #76d7c4; }
.turquoise-400 { background: #48c9b0; }
.turquoise-500 { background: #1abc9c; }
.turquoise-600 { background: #17a589; }
.turquoise-700 { background: #148f77; }
.turquoise-800 { background: #117864; }
.turquoise-900 { background: #0e6251; }

/* Green Sea */
.green-sea { background: #16a085; }
.green-sea-50 { background: #e8f6f3; }
.green-sea-100 { background: #d0ece7; }
.green-sea-200 { background: #a2d9ce; }
.green-sea-300 { background: #73c6b6; }
.green-sea-400 { background: #45b39d; }
.green-sea-500 { background: #16a085; }
.green-sea-600 { background: #138d75; }
.green-sea-700 { background: #117a65; }
.green-sea-800 { background: #0e6655; }
.green-sea-900 { background: #0b5345; }

/* Emerald */
.colorpale1-0 { background: #000000; }
.colorpale1-1 { background: #444445; }
.colorpale1-2 { background: #676767; }
.colorpale1-3 { background: #989898; }
.colorpale1-4 { background: #cccccb; }
.colorpale1-5 { background: #eeedee; }
.colorpale1-6 { background: #f3f3f3; }
.colorpale1-7 { background: #ffffff; }

/* Nephritis */
.colorpale5-0 { background: #e06666; }
.colorpale5-1 { background: #f5b26b; }
.colorpale5-2 { background: #ffda67; }
.colorpale5-3 { background: #94c47d; }
.colorpale5-4 { background: #76a5af; }
.colorpale5-5 { background: #6fa7da; }
.colorpale5-6 { background: #8f7cb9; }
.colorpale5-7 { background: #c27ba0; }


/* Peter River */
.colorpale2-0 { background: #ff0000; }
.colorpale2-1 { background: #ff9900; }
.colorpale2-2 { background: #ffff00; }
.colorpale2-3 { background: #00ff00; }
.colorpale2-4 { background: #00ffff; }
.colorpale2-5 { background: #0000ff; }
.colorpale2-6 { background: #9900ff; }
.colorpale2-7 { background: #ff00ff; }


/* Belize Hole */
.colorpale6-0 { background: #cb2026; }
.colorpale6-1 { background: #e79135; }
.colorpale6-2 { background: #f0c230; }
.colorpale6-3 { background: #6aa84d; }
.colorpale6-4 { background: #45818e; }
.colorpale6-5 { background: #3d85c6; }
.colorpale6-6 { background: #684fa1; }
.colorpale6-7 { background: #a74e7a; }


/* Amethyst */
.colorpale3-0 { background: #f3cccc; }
.colorpale3-1 { background: #fce5cd; }
.colorpale3-2 { background: #fff2cc; }
.colorpale3-3 { background: #d9ead3; }
.colorpale3-4 { background: #d0e0e3; }
.colorpale3-5 { background: #cfe2f3; }
.colorpale3-6 { background: #d9d2e9; }
.colorpale3-7 { background: #ead1dc; }


/* Wisteria */
.colorpale4-0 { background: #ea999a; }
.colorpale4-1 { background: #f9cb9c; }
.colorpale4-2 { background: #ffe599; }
.colorpale4-3 { background: #b6d7a8; }
.colorpale4-4 { background: #d0e0e3; }
.colorpale4-5 { background: #cfe2f2; }
.colorpale4-6 { background: #b4a8d2; }
.colorpale4-7 { background: #d5a6bd; }


/* Wet Asphalt */
.colorpale7-0 { background: #991b1e; }
.colorpale7-1 { background: #b46127; }
.colorpale7-2 { background: #bd912d; }
.colorpale7-3 { background: #397739; }
.colorpale7-4 { background: #164f5c; }
.colorpale7-5 { background: #085394; }
.colorpale7-6 { background: #372b73; }
.colorpale7-7 { background: #751b48; }

/* Midnight Blue */
.colorpale8-0 { background: #630d0d; }
.colorpale8-1 { background: #77411b; }
.colorpale8-2 { background: #7f6127; }
.colorpale8-3 { background: #2d4e25; }
.colorpale8-4 { background: #0c343d; }
.colorpale8-5 { background: #173862; }
.colorpale8-6 { background: #1e174d; }
.colorpale8-7 { background: #4b1330; }

/* Sunflower */
.sunflower { background: #f1c40f; }
.sunflower-50 { background: #fef9e7; }
.sunflower-100 { background: #fcf3cf; }
.sunflower-200 { background: #f9e79f; }
.sunflower-300 { background: #f7dc6f; }
.sunflower-400 { background: #f4d03f; }
.sunflower-500 { background: #f1c40f; }
.sunflower-600 { background: #d4ac0d; }
.sunflower-700 { background: #b7950b; }
.sunflower-800 { background: #9a7d0a; }
.sunflower-900 { background: #7d6608; }

/* Orange */
.orange { background: #f39c12; }
.orange-50 { background: #fef5e7; }
.orange-100 { background: #fdebd0; }
.orange-200 { background: #fad7a0; }
.orange-300 { background: #f8c471; }
.orange-400 { background: #f5b041; }
.orange-500 { background: #f39c12; }
.orange-600 { background: #d68910; }
.orange-700 { background: #b9770e; }
.orange-800 { background: #9c640c; }
.orange-900 { background: #7e5109; }

/* Carrot */
.carrot { background: #e67e22; }
.carrot-50 { background: #fdf2e9; }
.carrot-100 { background: #fae5d3; }
.carrot-200 { background: #f5cba7; }
.carrot-300 { background: #f0b27a; }
.carrot-400 { background: #eb984e; }
.carrot-500 { background: #e67e22; }
.carrot-600 { background: #ca6f1e; }
.carrot-700 { background: #af601a; }
.carrot-800 { background: #935116; }
.carrot-900 { background: #784212; }

/* Pumpkin */
.pumpkin { background: #d35400; }
.pumpkin-50 { background: #fbeee6; }
.pumpkin-100 { background: #f6ddcc; }
.pumpkin-200 { background: #edbb99; }
.pumpkin-300 { background: #e59866; }
.pumpkin-400 { background: #dc7633; }
.pumpkin-500 { background: #d35400; }
.pumpkin-600 { background: #ba4a00; }
.pumpkin-700 { background: #a04000; }
.pumpkin-800 { background: #873600; }
.pumpkin-900 { background: #6e2c00; }

/* Alizarin */
.alizarin { background: #e74c3c; }
.alizarin-50 { background: #fdedec; }
.alizarin-100 { background: #fadbd8; }
.alizarin-200 { background: #f5b7b1; }
.alizarin-300 { background: #f1948a; }
.alizarin-400 { background: #ec7063; }
.alizarin-500 { background: #e74c3c; }
.alizarin-600 { background: #cb4335; }
.alizarin-700 { background: #b03a2e; }
.alizarin-800 { background: #943126; }
.alizarin-900 { background: #78281f; }

/* Pomegranate */
.pomegranate { background: #c0392b; }
.pomegranate-50 { background: #f9ebea; }
.pomegranate-100 { background: #f2d7d5; }
.pomegranate-200 { background: #e6b0aa; }
.pomegranate-300 { background: #d98880; }
.pomegranate-400 { background: #cd6155; }
.pomegranate-500 { background: #c0392b; }
.pomegranate-600 { background: #a93226; }
.pomegranate-700 { background: #922b21; }
.pomegranate-800 { background: #7b241c; }
.pomegranate-900 { background: #641e16; }

/* Clouds */
.clouds { background: #ecf0f1; }
.clouds-50 { background: #fdfefe; }
.clouds-100 { background: #fbfcfc; }
.clouds-200 { background: #f7f9f9; }
.clouds-300 { background: #f4f6f7; }
.clouds-400 { background: #f0f3f4; }
.clouds-500 { background: #ecf0f1; }
.clouds-600 { background: #d0d3d4; }
.clouds-700 { background: #b3b6b7; }
.clouds-800 { background: #979a9a; }
.clouds-900 { background: #7b7d7d; }

/* Silver */
.silver { background: #bdc3c7; }
.silver-50 { background: #f8f9f9; }
.silver-100 { background: #f2f3f4; }
.silver-200 { background: #e5e7e9; }
.silver-300 { background: #d7dbdd; }
.silver-400 { background: #cacfd2; }
.silver-500 { background: #bdc3c7; }
.silver-600 { background: #a6acaf; }
.silver-700 { background: #909497; }
.silver-800 { background: #797d7f; }
.silver-900 { background: #626567; }

/* Concrete */
.concrete { background: #95a5a6; }
.concrete-50 { background: #f4f6f6; }
.concrete-100 { background: #eaeded; }
.concrete-200 { background: #d5dbdb; }
.concrete-300 { background: #bfc9ca; }
.concrete-400 { background: #aab7b8; }
.concrete-500 { background: #95a5a6; }
.concrete-600 { background: #839192; }
.concrete-700 { background: #717d7e; }
.concrete-800 { background: #5f6a6a; }
.concrete-900 { background: #4d5656; }

/* Asbestos */
.asbestos { background: #7f8c8d; }
.asbestos-50 { background: #f2f4f4; }
.asbestos-100 { background: #e5e8e8; }
.asbestos-200 { background: #ccd1d1; }
.asbestos-300 { background: #b2babb; }
.asbestos-400 { background: #99a3a4; }
.asbestos-500 { background: #7f8c8d; }
.asbestos-600 { background: #707b7c; }
.asbestos-700 { background: #616a6b; }
.asbestos-800 { background: #515a5a; }
.asbestos-900 { background: #424949; }


.colorPalette {
    position: absolute;
    z-index: 100;
    border: #000000 solid 1px;
    background: #FFFFFF;
}

.colorPalette .title {
    background-color: #19272B;
    color: #ffffff;
    padding: 3px;
}

#mapControlD3 .colorPalette label {
    display: initial;
    font-weight: bold;
    font-size: 12px;
}

.colorPalette ul {
    list-style: none;
    margin: 3px;
    padding: 0;
}

.colorPalette ul li {
    width: 15px;
    height: 15px;
    display: table-cell;
    border: #E8E8E7 solid 1px;
    cursor: pointer;
}

.colorPalette ul li.colorSelected {
    border: #E8E8E7 solid 1px;
}

.colorPalette ul li:after {
    content: '  ';
}

.colorPalette h3 {
    font-size: 90%;
    padding: 0;
    margin: 0;
}

.colorPalette input {
    margin: 0;
    padding: 0;
}

.colorPalette .colorDisplay {
    width: 100%;
    height: 15px;
    display: inline-block;
    border: #E8E8E7 solid 1px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.colorPalette .colorSelection {
    margin: 25px 5px 5px 5px;
    border: 1px solid #5f6a6a;
}

.colorPalette .colorParams {
    height: 20%
}

.colorPalette .selectedDisplay {
    height: 1%;
    margin: 5px;
}

.colorPalette #shapeSelection {
    width: 100px;
}

.colorPalette input[type="number"] {
    width: 40px;
}

.alignLeft {
    float:left;
    padding: 2px;
    height: 260px;
    width: 48%;
    border: #ccc solid 1px;
}

.alignRight {
    float:right;
    padding: 2px;
    height: 260px;
    width: 48%;
    border: #ccc solid 1px;
}

.alignSingle {
    padding: 2px;
    height: 260px;
    border: #ccc solid 1px;
}