html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
    position: relative;
}

button {
    cursor: pointer;
}

caption {
    font-size: 125%;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    background: #E2E2E2;
}

legend {
    margin: 6px 0px;
}

hr {
    background: lightgrey;
    width: 95%;
    height: 1px;
    border: none;
}

.boldFont {
    font-weight: bold;
}

.pullRight {
    float: right;
}

.pullLeft {
    float: left;
    color: #3a4966
}

span.showTotalRecords{
    float: right;
    color: #3a4966
}

.printBody {
    min-width: 1200px;
}

#headerContainer {
    padding: 0;
    margin: 0;
    position: relative;
    background: white;
    font-family: Calibri;
    font-weight: 600;
}

#headerContainer .samhsa_logo_header {
    margin-left: 15px;
}

#headerContainer .logo-container {
    /*margin: 10px 0 10px 0;*/
    /*width: 240px;*/
    /*height: 80px;*/
    margin: 20px 0 0px 0;
    width: 279px;
    height: 76px;
}

.header-ribbon {
    width: 100%;
    padding: 0;
    background: #eeeeee;
    color: #1E384B;
}

.header-page-size-div {
    height: 100%;
    margin: 0 auto;
}

.small_eagle_icon {
    width: 25px;
    height: 25px;
    float: left;
    margin: 3px 10px 0 35px;
}

.eagle-svg-icon, .logo-svg-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #1e384b;
}

.header-ribbon a {
    text-decoration: none;
    color: #1d384b;
    display: inline-block;
    line-height: 35px;
}

.header-tab-buttons {
    height: 36px;
}

.tab-buttons {
    display: inline-block;
    height: 100%;
}

.left-tab-buttons {

}

.right-tab-buttons {
    float:right;
}

.topNav ul {
    position: absolute;
    bottom: 0;
    right: 0;
}

.topNav p {
    position: absolute;
    right: 0;
    top: 40px;
    margin: 8px 8px 0 0;
    font-size:120%;
}

.tabGroup {
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 100%;*/
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    height: 100%;
}

.tabGroup > li {
    float: left;
    cursor: pointer;
    height: 100%;
}

.tabGroup > li > a {
    display: block;
    padding: 10px 15px;
}

.tabGroup .tabLeft {
    color: #1E394B;
    background: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    border: 1px solid #1E3C43;
    border-bottom: transparent;
}

.tabGroup .tabLeft:hover {
    color: gold;
    background: #426B99;
}

.tabGroup .tabLeft.selected {
    background: #426B99;
    color: white;
}

.tabGroup .tabRight {
    /*padding: 0 16px 0 16px;*/
    /*width: 125px;*/
    /*height: 34px;*/
    /*border-left: #9a9898 5px solid;*/
    /*line-height: 33px;*/
    /*text-align: center;*/
    /*transition: opacity 650ms;*/
    padding: 0 5px 0 5px;
    width: 120px;
    height: 30px;
    border-left: #9a9898 5px solid;
    line-height: 30px;
    text-align: center;
    transition: opacity 650ms;
}
.tabGroup .tabRightHidden {
    display: none;
}
.tabGroup .tabRightOpen {
    color: #ffffff;
    background: #1E394B;
    border: #1E394B 1px solid;
    border-left: #cd3835 3px solid;
    border-bottom: #888888 1px solid;
    transition: transform 650ms;
}
.tabGroup .tabRightClose {
    color: #1E394B;
    background: white;
    border: #1E394B 1px solid;
}
.tabGroup .tabRightCloseGoogle {
    color: #1E394B;
    background: white;
    border: #1E394B 1px solid;
    border-bottom: none;
    height: 35px;
}
.tabGroup .tabRightBtnOpen {
    color: #ffffff;
    background: #1E394B;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    padding: 0;
    display: inline-block;
    height: 30px;
}
.tabGroup .tabRightBtnClose {
    color: #1E394B;
    background: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 5px;
    padding: 0;
    display: inline-block;
    height: 30px;
}
.double-arrow-flip-icon {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
}
#toggle-controls-btn {
    color: #1E394B;
    background: #FFFFFF;
    width: 8px;
    line-height: 30px;
    height: 20px;
    padding: 5px 5px;
    border: #1E394B 1px solid;
}
#closed-arrow-icon {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.tabLeft .tabIcon {
    margin: -3px 5px 0 0;
    float: left;
}

.tabLeft .printIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -59px -12px;
    margin: -3px 5px 0px 0px;
    width: 18px;
    height: 18px;
}

.tabLeft .googleIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -13px -12px;
    margin: -3px 5px 0px 0px;
    width: 18px;
    height: 18px;
}

.tabLeft.selected .googleIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -105px -139px;
}

.tabLeft.selected .printIcon {
    background: url(../images/devs_sprite_sheet.png)  no-repeat -151px -139px;
}

#googleMenuTab {
    display: none;
}

#mapContentPrint{
    vertical-align: top;
    width:100%;
    height: 100%;
}

#mapContentMapServer{
    display:none;
    height: 100%;
}

#contextMenu {
    position: absolute;
    border: solid #AAA 1px;
    background-color: white;
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
}

#contextMenu li{
    list-style: none;
    padding: 2px 5px 2px 5px;
    line-height: 1.65em;
    border-bottom: solid 1px #AAA;
}

.contextMenuItem:hover  {
    background-color: #CCCCCC;
}

.contextMenuItem p {
    margin: 0;
}

.contextMenuItem p:hover {
    cursor: pointer;
}

.contextMenuItemInfo {
    color: #666666;
}

.close-dialog-button {
    background: url(../images/devs_sprite_sheet.png) no-repeat -248px -141px;
    width: 12px;
    height: 12px;
    float: right;
    border: none;
    margin: -12px 15px 0 0;
}

#sideMenuBar {
    margin-top: -5px;
    z-index: 4;
    background-color: #426288;
    border: 1px solid #394042;
}

#sideMenuBar ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#sideMenuBar li {
    display: inline-block;
    cursor:pointer;
    border-right: 2px solid white;
    padding: 9px 0;
}

#sideMenuBar li:last-child {
    border-right: none;
}

#sideMenuBar li.active {
    background-color: #1E394B;
    padding: 11px 0;
}

#sideMenuBar li a {
    margin: 0 30px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}

#sideMenuBar .icon {
    display: inline-block;
    margin: 0 10px 0 0;
}

#historyheader{
    background-color: #1E394B;
    color: #fff;
    padding: 8px 0 8px 10px;
}

#historyContent{
    padding: 10px 15px;
}

.historyIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -240px -52px;
    width: 21px;
    height: 21px;
    margin-bottom: -4px !important;
}

#sideMenuBar li .arrowIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -149px -55px;
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
    margin: 0 5px -2px 5px;

}

#sideMenuBar li.active .arrowIcon {
    transform: rotate(270deg);
}

.helpIcon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -282px -51px;
    width: 23px;
    height: 21px;
    margin-bottom: -4px !important;
    transform: rotate(270deg);
}

#backarrow {
    background: url(../images/devs_sprite_sheet.png) no-repeat -295px -141px;
    width: 6px;
    height: 11px;
    margin: 7px;
    padding: 0;
    float: left;
}

#backnav {
    color: black;
    font-weight: bold;
    margin: 5px 0;
    float: left;
    width: 70%;
}

#mainContainer {
    width:100%;
    height: 800px;
    position:relative;
}

#mainContainer.printContainer, #sideContainer.printContainer  {
    min-height: 775px;
    max-height: none;
}

#sideContainer {
    position: absolute;
    right:0;
    top: 0;
    height: 100%;
    max-height: 800px;
    z-index: 3;
}

#layerSelectionControl {
    position: absolute;
    right: 0;
    background: #FFFFFF;
    overflow-x: visible;
    overflow-y: scroll;
    width: 375px;
    max-height: 100%;
    border: 1px solid #394042;
    font-family: Calibri;
}

#layer-selection-control-header {
    /*background-color: #36a99e;*/
    background-color: rgba(55, 105, 103, 1);
    padding: 11px 0 12px 10px;
    border: none;
}

#show-layer-print-control-header {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#show-layer-print-control-button {
    float: right;
    margin: 0 10px;
}

#show-layer-print-control-button2 {
    float: right;
    background-image: linear-gradient(to right, white, gray);
    padding: 4px 7px;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-style: italic;
    border-radius: 5px;
    text-align: center;
}

#feedbackContainer {
    float: right;
    position: absolute;
    right: 47px;
    width: 525px;
    top: 119px;
    z-index: 100;
    height: 100%;
}

.feedbackBox {
    /*right: 46px;*/
    /*position: absolute;*/
    background: #FFFFFF;
    overflow-x: visible;
    overflow-y: scroll;
    width: 420px;
    border: #112E36 solid 1px;
    font-family: Calibri;
}

.feedbackBox .feedbackBody {
    padding: 0 1em 1em;
}

.feedbackTitle {
    /* background-image: linear-gradient(180deg,rgba(18,48,55,1.00) 0%,rgba(89,124,135,1.00) 100%); */
    background-color: #1E394B;
    color: #fff;
    padding: 8px 10px;
}

.feedbackTitle h3 {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
}

#feedbackMainForm {
    font-size: 14px;
    font-weight: bold;
}

#feedbackMainForm footer {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    text-align: right;
}

#feedbackMainForm button {
    margin-left: 4px;
}

#feedbackMainForm textarea, #feedbackMainForm input, #feedbackMainForm select, #search-field1{
    width:100%;
    box-sizing: border-box;
    height:25px;
    margin-top:8px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
    font-size: 12px;
}

#feedbackMainForm input.inline-input {
    width:49%;
    margin-left: 3px;
    margin-bottom: 7px;
    font-size: 12px;
}
#feedbackMainForm label {
    margin-top: 8px;
    display: inline-block;
}

#feedbackMainForm textarea {
    height:220px;
    resize:none;
}

#feedbackMainForm span {
    color:red
}

#feedbackMainForm button {
    float: right;
    height: 25px;
    margin-left: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    min-width: 55px;
    background-color: #426288;
    color: #ffffff;
    font-size: 12px;
}

.remove-box-button {
    background: url(../images/devs_sprite_sheet.png) no-repeat -248px -141px;
    width: 15px;
    height: 15px;
    float: right;
    border: none;
    margin: -12px 5px 0 0;
    color: white;
    cursor:pointer;
}
.hideShowIcon{
    margin-left: -10px;
    cursor:pointer;

}
.hideShowIconDesc{
    margin-left: 2px;
}
button#share-dialog-close {
    background: transparent;
    border: none;
}

.inputError {
    border-color: red;
}

.feedbackError {
    display: block;
    color: red;
    font-size: 10px;
}

.hiddenMsg {
    display: none;
}

#feedbackSuccessMsg {
    margin: 5px 0;
    color: #5d8990
}

#formErrorMsg {
    margin: 5px;
    font-size: 12px;
}

#emailErrorMsg {
    width: 49%;
    float: right;
}

#captchaControl {
    margin: 10px 0;
}

#search-field1{
    margin-bottom: 8px;
}

/* Layer Navigation*/

.RtNav1 {
    background: #FFFFFF;
}

.RtNavTitle{
    background-color: #1E394B;
    color: #fff;
    padding: 8px 0 8px 10px;
    border-bottom: 1px solid #ffff;
}

.RtNav1 a.close {
    text-decoration: none;
    padding-left: 14px;
    background: url("../images/Menu-normal.png") no-repeat 1% 50%;
    color:white;
    font-weight:bold;
    font-size: 12px;
}

.RtNavTitle>a.open {
    text-decoration: none;
    padding-left: 14px;
    background: url("../images/Menu-expanded.png") no-repeat 1% 50%;
    color:white;
    font-weight:bold;
    font-size: 13px;
}

.RtNav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.RtNav1 strong {
    padding: 0 8px;
}

input.nav1 {
    margin-left: 15px;
}

li.fusionLayer > a {
    text-decoration: none;
    padding-right: 12px;
    color: #000;
}

li.fusionLayer > a.hascriteria {
    background: url("../images/dropdown.png") no-repeat 100% 50%;
}

li.fusionLayer > a.hascriteria.open {
    background-image: url("../images/downarrow_send.png");
}

.RtNav2 {
    background: #ebf7f7;
    border: #E8E8E8 solid 1px;
    margin: 2px 10px 5px 15px;
    padding: 7px;
    width: 90%;
}

#selectedItemsDiv {
    position: absolute;
    width: 350px;
    right: 376px;
    top:0;
}

.selectedItems {
    float: right;
    background: #FFFFFF;
    width: 300px;
    z-index: 101;
    border: #003144 solid 1px;
    padding: 5px;
    margin-right: 2px;
}

.selectedItems span.closeButton, .selectedItemDetails span.closeButton {
    background: url(../images/close-btn.png) no-repeat;
    padding-left: 13px;
    cursor: pointer;
    margin-right: 3px;
    background-size: 100%;
}

.selected_layer{
    margin-top: 5px;
}

.selectedItems span.dropDownArrow {
    background: url(../images/dropdown.png) no-repeat 100% 50%;
    padding-left: 12px;
    cursor: pointer;
}

.selectedItems span.dropDownArrow.open {
    background-image: url(../images/downarrow_send.png);
}

.selectedItemDetails {
    float: right;
    width: 240px;
    background: #FFFFFF;
    border: #003144 solid 1px;
    padding: 5px;
    z-index: 211;
    margin-right: 2px;
    margin-top: 1px;
    max-height: 720px;
    overflow: auto;
}

.selected_items {
    margin-top: 5px;
}

#drop-marker-dialog {
    left: 10px;
    top: 50px;
    min-width: 350px;
    position:absolute;
    background: white;
    padding: 5px;
    border: 1px solid black;
}

#drop-marker-dialog label {
    margin: 5px 0;
    display: block;
}

#drop-marker-dialog input {
    min-width: 300px;
    margin-bottom: 5px;
}

#drop-marker-dialog button {
    margin-right: 5px;
}

.printConfig {
    display: block;
    height: 100%;
}

.print-config-header {
    padding: 8px 10px;
    background: #1E394B;
    border-bottom: 1px solid #ffff;
    border-right: 1px solid #ffff;
}

.print-config-header h3 {
    margin:0;
    color: #ffffff;
    font-size: 100%;
    display:inline-block;
}

.print-config-header a {
    margin:0;
    color: #ffffff;
    font-size: 100%;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
}


.print-config-header .hide-d3-map-control-button {
    height: 17px;
    border: none;
    float:right;
    margin-right: 0;
    margin-top: 0;
    background-color: #1E394B;
}

.layerControlPanel{
    width: 376px;
}

.show-d3-map-control-button {
    height: 17px;
    border: none;
    float:right;
    margin-right: 0;
    margin-top: 0;
    background-color: #1E394B;
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
}

.print-config-body label {
    text-align: right;
    padding-right: 5px;
    width: 100px;
}

.print-config-body ul {
    list-style: none;
    padding-left: 3px;
    margin: 0 6px;
}

.print-config-body input {
    margin:6px;
}

.print-config-body span {
    float: right;
    position: relative;
    width:150px;
}

.print-config-body img {
    border: #898B5E solid 1px;
    padding:0;
    cursor: pointer;
}

.print-config-body span.fillColor {
    height: 90%;
    width: inherit;
    border: solid 4px;
}

.print-config-body span.fillColor:before {
  content: " ";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: #898B5E solid 1px;
}

.print-config-body .displayColor {
    float: left;
    width: 40px;
    height: 16px;
    margin-right: 10px;
}

#mapPrintMenu {
    display: inline-block;
    width: calc(100% - 2px);
    height: 40px;
    background-color: #426B99;
}

#mapPrintMenu ul {
    margin: 0;
    padding: 0;
}

#mapPrintMenu ul li {
    list-style: none;
    cursor: pointer;
}

#mapPrintMenu ul li a, #mapPrintMenu ul li > select {
    display: inline-table;
    padding: 4px 8px 2px 8px;
    float: left;
    text-align: center;
}

.toolbar-additional-options-button{
    width: 20px;
    height: 30px;
    margin: 0 15px 0 0px;
    background: none;
    border: none;
}

#mapPrintMenu li.divline {
    cursor: default;
    margin: 5px 0 0 0;
    float: left;
    border-left: 1px solid white;
    height: 30px;
}

#mapPrintMenu .toolbarInputGroup {
    padding: 10px 8px 0 8px;
    float: left;
    height: 28px;
}

.activeToolbarIcon {
    background-color: #1E3859;
    color: #FFFFFF;
    border-bottom: 2px solid #CB0A21;
}

.notActiveToolbarIcon {
    background-color: inherit;
    color: #FFFFFF;
}

.notActiveToolbarIcon :active {
    color: #cd3835;
}

.texttool {
    width: 15px;
    height: 17px;
    fill: #FFFFFF;
}

.active .texttool {
    background-position: -362px -92px;
}

.boxtool {
    width: 22px;
    height: 19px;
    fill: #FFFFFF;
}

.active .boxtool {
    background-position: -102px -186px;
}

#text-typing-canvas {
    cursor: text;
    z-index: 2;
    position: absolute;
}

#rect-drawing-canvas {
    cursor: crosshair;
    z-index: 2;
    position: absolute;
}

.jpgsave {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.pdfsave {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.active .pdfsave {
    background-position: -193px -185px;
}

#zoomin {
    margin-right: -5px;
}

#zoomout {
    margin-left: -5px;
}

#zoomSelect {
    margin-top: 10px;
    margin-right: 8px;
}

.refreshicon {
    width: 15px;
    height: 16px;
    fill: #FFFFFF;
}

.snapshot {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.active .snapshot {
    background-position: -15px -138px;
}

.mapconfig {
    width: 19px;
    height: 19px;
    fill: #FFFFFF;
}

.active .mapconfig {
    background-position: -60px -138px;
}

.mapstatus {
    width: 21px;
    height: 17px;
    fill: #FFFFFF;
}

.active .mapstatus {
    background-position: -355px -137px;
    width: 21px;
}

.printMapLegend {
    width: 22px;
    height: 19px;
    fill: #FFFFFF;
}

.active .printMapLegend {
    background-position: -12px -186px;;
}

#info-box-dialog {
    left: 40%;
    top: 40%;
    height: 120px;
    z-index: 100;
}

.minimap {
    width: 19px;
    height: 19px;
    fill: #FFFFFF;
}

.active .minimap {
    background-position: -358px -228px;;
}

#saved-layer-config-panel {
    position: absolute;
    background: #FFFFFF;
    max-height: 100%;
    overflow-y: scroll;
    width: 410px;
    /*right: 100px;*/
    word-wrap: break-word;
    border: 1px solid #394042;
}

#saved-layer-config-panel h3 {
    padding:0;
    margin: 0;
    font-size: 12px;
}

#saved-layer-config-panel h4 {
    margin: 0;
    width: 115px;
    display: inline-block;
}

.saved-layer-config-button-container button {
    float:right;
}

#saved-layer-config-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.saved-layer-config-header-div {
    color: white;
    background: #185577;
    padding: 10px;
}

.saved-layer-config-header-div label {
    float:right;
}

.saved-layer-config-header-div h4.close {
    text-decoration: none;
    padding-left: 14px;
    background: url("../images/Menu-normal.png") no-repeat 1% 50%;
    color:white;
    font-weight:bold;
    font-size: 12px;
}

.saved-layer-config-header-div h4.open {
    text-decoration: none;
    padding-left: 14px;
    background: url("../images/Menu-expanded.png") no-repeat 1% 50%;
    color:white;
    font-weight:bold;
    font-size: 12px;
}

.saved-layer-config-filter-div {
    display:inline-block;
    margin-bottom: 20px;
    vertical-align: top;
}

#sort-saved-layer-config-div {
    float:right;
}

.saved-layer-config-filter-div label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.saved-layer-config-filter-div input {
    height: 19px;
    width: 150px;
}

.saved-layer-config-filter-div select {
    height: 25px;
}

.saved-layer-config-list-item {
    padding: 0;
    margin-bottom: 20px;
    position: relative;
}

.saved-layer-config-list-item p {
    margin: 0 0 5px 0;
}

.saved-layer-config-list-item label {
    width: 150px;
    display:inline-block;
}

.saved-layer-config-content-div {
    padding: 10px 10px 5px 10px;
    background: #dddddd;
}

.saved-layer-config-content-div hr {
    background-color: #185577;
}

#calendaricon {
    float: right;
}

.saved-layer-config-button-container {
    height: 25px;
}

.saved-layer-config-button-container button {
    background-color: #185577;
    color: white;
}

.savedLayerConfigPanelTabsOpen {
    right: 95px;
}

.savedLayerConfigPanelTabsClosed {
    right: 0;
}

.config-content-row:after {
    content: "";
    display: table;
    clear: both;
}

.config-content-column1 {
    float: left;
    width: 40%;
    color: black;
}

.config-content-column2 {
    float: left;
    width: 60%;
    margin: 10px 0;
    /*padding: 5px 0;*/
    /*min-height: 50px;*/
}

.config-content-column2 p {
    margin: 2px 0 2px 10px;
    font-size: 12px;
}

#refreshMapContainer {
    position: absolute;
    left: 190px;
    top: 10px;
}

#refreshMapContainer button {
    height: 40px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 0 17px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
    min-width: 65px;
    border-left: 0;
}

#save-pdf-dialog {
    left: 145px;
    z-index: 1;
    width: 220px;
    top: 40px;
}

#save-pdf-dialog input {
    width: 85px;
}

#canvas-attributes-dialog {
    left: 138px;
    z-index: 1;
    width: 370px;
    top: 40px;
}

#canvas-attr-setting {
    margin: 5px;
}

#albersUsaTerritoriesRadio {
    margin-right: 5px;
    width:15px;
}
#albersUsaRadio {
    margin-left: 5px;
    width: 15px;
}
#mercatorRadio {
    margin-left: 5px;
    width: 15px;
}
.toolbar-popup-input-container label.radioLabel{
    display: initial;
    font-size: 12px;
}
#save-layer-config-dialog {
    left: 90px;
    z-index: 1;
    width: 370px;
    max-height: 400px;
    min-height: 180px;
    top: 40px;
}

.canvas-attr-input {
    float: right;
}

.toolbar-popup-content-div {
    padding: 10px 4px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.toolbar-popup-div {
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-top: none;
}

.toolbar-popup-div h4 {
    margin: 0;
    padding: 7px;
    font-size: 12px;
    background: #1E394B;
    color: white;
}

.toolbar-popup-div input {
    display: inline-block;
    font-size: 12px;
    width: 232px;
}

.toolbar-popup-div label {
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#remove-config-dialog {
    width: 400px;
    left: 50%;
    top:50%;
    height: 130px;
    z-index: 100;
}

#remove-config-dialog p {
    margin: 0 0 10px 0;
}

.remove-config-dialog-button-container {
   text-align: center;
}

#remove-config-dialog button {
    float:none;
}

.toolbar-popup-div textarea {
    vertical-align: top;
    min-width: 230px;
    max-width: 230px;
    min-height: 60px;
    max-height: 200px;
    font-size: 12px;
}
#layer-config-description-textarea{
    border: 1px solid lightgrey;
}
.toolbar-popup-div button, .saved-layer-config-button-container button, .saved-layer-config-filter-div button {
    float: right;
    height: 25px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background: #185577;
    min-width: 55px;
    color: white;
}

.toolbar-popup-input-container {
    padding: 7px 4px;
    background: #757C8C;
    margin-bottom: 8px;
    color: white;
}

.toolbar-popup-button-container {
    height: 25px;
    justify-content: center;
}

#save-config-duplicate-name-err {
    font-size: 11px;
    text-align: center;
    color: red;
    margin: 5px 0;
}

#minimap-panel {
    left: 432px;
    width: 222px;
    height: 190px;
    z-index: 1;
    top: 40px;
}

#minimap-svg {
    border: 1px solid black;
    max-width: calc(100% - 2px);
    max-height: calc(100% - 22px);
}

#mapCanvasContainer {
    height: calc(100% - 40px);
    width: calc(100% - 46px);
}

.colorPickerTool {
    position: absolute;
    z-index: 302;
}

.colorPickerTool .closeCover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#propertyBox {
    width: 345px;
    border: 1px solid black;
    background: white;
    z-index: 300;
    position: absolute;
    top: 40px;
    left: 1px;
}

#propertyBox h4 {
    background-color: #1E394B;
    color: white;
    font-size: 12px;
    padding: 7px;
    margin: 0;
}

.propertySection {
    padding: 7px 0px;
    background: #757C8C;
    margin: 2px 5px;
}

.firstPropertySection {
    margin-top: 5px;
    height: 20px;
    padding: 10px 0 10px 0;
}

#text-tool-font-size-input{
    width: 68px;
    height: 13px;
}

.secondPrepertySection{
    margin-top: 5px;
    height: 20px;
    padding: 5px 0 15px 0;
}
/*.propertyInput {*/
    /*margin-left: 70px;*/
/*}*/

.propertyImage {
    /*width: 17px;*/
    margin-left: 15px;
}

#text-tool-text {

}

#text-tool-font-size{
    color: #FFFFFF;
}

.tool-prop-btn{
    background: #185577;
    color: #FFFFFF;
}

#text-tool-font-select {
    margin-left: 10px;
    margin-right: 10px;
    width: 190px;
}

#text-tool-underline {
    width: 13px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

/*#text-tool-underline:hover {
    background-color: #cccccc;
}

#text-tool-underline.highlighted {
    background-color: #cccccc;
}*/

/*#text-tool-underline-input {*/
    /*margin-left: 220px;*/
/*}*/

#text-tool-fill-color-input{
    width: 94px;
    height: 14px;
}

#text-tool-rotate {
    width: 15px;
    height: 18px;
    display: inline-block;
    margin-left: 12px;
}

#text-tool-rotate-input {
    width: 50px;
    height: 14px;
    margin-left: 3px;
}

#text-tool-rotate-input-symbol {
    width: 50px;
    height: 14px;
    color: #FFFFFF;
}

#text-tool-text-length {
    background: url('../images/devs_sprite_sheet.png') no-repeat -109px -99px;
    width: 10px;
    height: 9px;
    display: inline-block;
    margin-left: 20px;
}

#text-tool-text-length-input {
    margin-left: 5px;
    width: 50px;
}

#text-tool-bold {
    width: 13px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    margin-right: 10px
}

/*#text-tool-bold:hover {
    background-color: #cccccc;
}*/

/*#text-tool-bold.highlighted {
    background-color: #cccccc;
}*/

#text-tool-italic {
    width: 13px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

/*#text-tool-italic:hover {
    background-color: #cccccc;
}

#text-tool-italic.highlighted {
    background-color: #cccccc;
}*/

#text-tool-fill-color-picker {
    background: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    cursor: pointer;
    margin-left: 15px;
}

#text-tool-selected-fill-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
}

#text-tool-fill-color-picker-input {
    display: none;
}

#text-tool-dialog-footer-div {
    float: right;
    margin: 0px 5px 10px 10px;
}

.tool-prop-btn {
    border-radius: 3px;
    font-size: 13px;
    height: 23px;
    margin-left: 5px;
    border: none;
    margin-top: 7px;
}

/*#text-tool-property-ok-btn {}*/

#text-tool-property-cancel-btn {
    width: 60px;
}

#d3-rect-property-panel-div {
    width: 265px;
    border: 1px solid black;
    background: white;
    z-index: 300;
    position: absolute;
    top: 160px;
    left: 50px;
}

#d3-rect-property-panel-div h4 {
    background-color: #597b88;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin: 0;
}

#rect-tool-width {
    background: url('../images/devs_sprite_sheet.png') no-repeat -17px -230px;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-left: 10px;
}

#rect-tool-height {
    background: url('../images/devs_sprite_sheet.png') no-repeat -64px -230px;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-left: 15px;
}

#rect-tool-stroke {
    background: url('../images/devs_sprite_sheet.png') no-repeat -154px -97px;
    width: 11px;
    height: 11px;
    display: inline-block;
}

#rect-tool-width-input {
    margin-left: 7px;
    width: 67px;
}

#rect-tool-height-input {
    margin-left: 7px;
    width: 67px;
}

#rect-tool-stroke-color-picker {
    background: white url('../images/devs_sprite_sheet.png') no-repeat -193px -92px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
    cursor: pointer;
    border: grey solid 1px;
    margin-left: 10px;
}

#rect-tool-selected-stroke-color {
    width: 20px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 6px;
}

#rect-tool-stroke-color-picker-input {
    display: none;
}

#rect-tool-stroke-width {
    background: url('../images/devs_sprite_sheet.png') no-repeat -109px -99px;
    width: 10px;
    height: 9px;
    display: inline-block;
    margin-left: 17px;
}

/*#rect-tool-stroke-input {*/
    /*margin-left: 80px;*/
/*}*/

#rect-tool-stroke-width-input {
    margin-left: 8px;
    width: 67px;
}

#rect-tool-dialog-footer-div {
    float: right;
    margin: 0px 5px 5px 5px;
}

#savedConfig {
    position: relative;
    float:left;
    display: block;
    border: 1px solid black;
    width: 245px;
    height: 660px;
    overflow-y: scroll;
    margin: 0 0 0 0.5px;
    padding: 0;
    background: white;
}

.titleBox {
    display: block;
    background: #19272B;
    font-size: 13px;
    color: white;
    height: 25px;
    margin: 0;
    padding: 10px 0 0 5px;
}

.screenConfig {
    margin:20px 20px 10px 20px;
    border: 1px solid black;
}

.screenTxt {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 10px 0;
}

.contentConfig {
    display:block;
    background:white;
    overflow:auto;
}

#render-status-panel {
    position: absolute;
    border: 1px solid black;
    margin-top: 0;
    margin-left: 0;
    background: white;
    z-index: 2;
    padding: 0 10px;
    top: 55px;
    left: 12px;
    max-width: 1200px;
}

.render-status-layer {
    display: inline-block;
    margin: 10px 0;
    padding: 0 10px;
}

.render-status-layer p {
    margin: 0;
}

.render-status-layer-name {
    font-weight:bold;
}

.render-status-status-div {
    margin-top: 5px;
}

.render-status-layer-status {
    display: inline-block;
    vertical-align: middle;
}

.render-status-circle-div {
    display: inline-block;
    margin: 0 6px 0 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    vertical-align: middle;
}

.red-circle {
    background: red;
}

.green-circle {
    background: green;
}

.yellow-circle {
    background: yellow;
}

#mapCanvas {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 3px solid #E8E8E8;
}

#mapCanvas svg {
    position: relative;
    width: 100%;
    height: 100%;
}

#mapScrollingDiv {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#mapControlD3 {
    position: absolute;
    right: 377px;
    background: #fff;
    width: 463px;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid #394042;
}

#mapControlD3 Label{
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

#mapControlD3 label.config-label {
    display: initial;
    font-weight: bold;
    font-size: 12px;
    margin-left: 8px;
    height: 15px;
}

#mapControlD3 label.legend-config-label {
    width: auto;
    padding: 0;
}

#mapControlD3 .radioLabel {
    display: inline;
    margin-left: 10px;
}

#mapControlD3 svg {
    cursor: pointer;
}

#layer-select {
    width: 90%;
    height: 25px;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    display: block;
}

#layer-config-display p {
    margin-left: 25px;
}

#mapLegend {
    display:block;
    z-index: 3;
    background: white;
    border: #003144 solid 1px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: auto;
}

#mapLegend p {
    margin: 5px 0;

}

#mapLegend ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

#mapLegendColorSpan {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 0 5px
}

.RtNavGdrLrDpdnNormal, .RtNavGdrLrDpdnExpanded {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
    background: url("../images/grdt_dpdn_normal.png") no-repeat 0 50%;
}

[class^="icon-"], [class*=" icon-"] {
    background: url("../images/glyphicons-halflings.png") no-repeat 14px 14px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
}

.icon-gradient-filter {
    background-position: -408px -144px;
    cursor: pointer;
}

.icon-gradient-check {
    background-position: -288px 0;
    cursor: pointer;
}

.icon-gradient-cancel {
    background-position: -312px 0;
    cursor: pointer;
}

.icon-gradient-add {
    background-position: -408px -96px;
    cursor: pointer;
}

.RtNavGdrLrGroup li {
    background-image: none;
    border: 0 none;
    padding: 1px;
}

.RtNavGdrLrGroup table {
    padding-left: 20px;
}

.RtNavGdrLr li {
    border-bottom: 1px dotted #e8e8e8;
    padding: 3px 0 3px 3px;
}

#help-container {
    /*position: absolute;*/
    top: 0;
    /*right: 46px;*/
    background: white;
    border: 1px solid #394042;
    z-index: 5;
    width: 346px;
    max-height: 100%;
    overflow-y: scroll;
}

#helpcollapse {
    background: url(../images/devs_sprite_sheet.png) no-repeat -195px -147px;
    width: 16px;
    height: 2px;
    float: right;
    border: none;
    margin: 10px 20px 0 0;
}

#helpclose {
    background: url(../images/devs_sprite_sheet.png) no-repeat -248px -141px;
    width: 12px;
    height: 12px;
    float: right;
    border: none;
    margin: -12px 5px 0 0;
}
#closeButton {
    background: url(../images/devs_sprite_sheet.png) no-repeat -247px -140px;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    float: right;
    margin: 3px 3px 0 0;
    border: 0.5px solid black;
}
#pick-state-county-data-div .addtnl-data-level-div #closeButtonData{
    background: url(../images/devs_sprite_sheet.png) no-repeat -247px -140px;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    border: 0.5px solid black;
    margin-top: -1px;
    margin-right: 5px;
    border-radius: 3px;
}
#help-header{
    background-color: #1E394B;
    color: #fff;
    padding: 8px 10px;
}

#help-header h3{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#help-title {
    font-size: 2em;
    text-align: center;
    padding: 15px;
    color: #185577;
    font-weight: bold;
    margin: 0 auto;
}

#help-container ul{
    margin: 0 10px;
    padding: 0;
}

#help-container ul li{
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

.helpTopicItem {
    margin: 5px 0;
    background-color: #79839b;
    padding: 10px 0;
    list-style: none;
}

#help-text {
    font-size: 1.3em;
    font-weight: bold;
    color: #425180;
    text-align: left;
    margin: 20px 0 5px 10px;
}

#searchbar {
    position:relative;

}

#help-search {
    margin-left: 10px;
    width: 275px;
    height: 20px;
    vertical-align:top;
}

#search-icon{
    /*background: url(../images/devs_sprite_sheet.png) no-repeat -229px -90px;*/
    width: 32px;
    height: 27px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: #185577;
    margin-left: 1px;
    margin-top: -1px;
}

.gotolinklist {
/*    background: url(../images/devs_sprite_sheet.png) no-repeat -291px -185px;
        width: 16px;
        height: 16px;
        float: right;
        margin: 0;*/
    }

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.85);
  z-index: 1000;
}

.modal-dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 1001;
}

.modal-dialog > header {
  background: #217cba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 2rem;
  min-height: 50px;
}

.modal-dialog > header > button {
  border: none;
  padding: 0;
  font-size: 1.2rem;
  background: inherit;
  color: white;
  cursor: pointer;
}
.videoplaydiv{
    width: 600px;
    height: 400px;

}

.help-topic-arrow {
    width: 8px;
    height: 8px;
    margin: 0 6px 1px 0;
    cursor: pointer;
    display:inline-block;
}
.help-topic-arrow-close {
    background: url(../images/Menu-normal.png) no-repeat;
}
.help-topic-arrow-open {
    background: url(../images/Menu-expanded.png) no-repeat;
}
.help-topic-question {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: inline-block;
    margin: 0;
}

.help-topic-answer {
    padding: 5px 10px;
    margin: 0;
    margin-top: -3px;
    margin-right: -3px;
    background: #EBF7F7;
    border: 0.5px solid #185577;
}
.gotoLinks {
    margin: 0 -4px 0 -1px;
}
.gotoLinks button{
    background-color: #185577;
    color: white;
    margin: 0;
    padding: 5px 0;
    width: 50%;
    border: 1px solid white;
    font-size: 12px;
 }

#vidicon{
    background: url(../images/devs_sprite_sheet.png) no-repeat -291px -185px;
    width: 16px;
    height: 16px;
    float: right;
    margin: -16px 9px 0 0;
}

#greyScreen {
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 1;
}

#timerModelContainer {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 40%;
    z-index: 100;
    border-radius: 5px;
}

#timeout-module {
    position: relative;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    background-clip: padding-box;
    background-color: #FFF;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#timeout-header {
    border-bottom: 1px solid;
    background-color: #1E3C43;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
    line-height: 1px;
}

#timeout-header h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    display: inline-block;
    font-size: 16px;
}

#timeout-body {
    position: relative;
    padding: 2px 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

#timeout-footer {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    display: block;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.timeout-btn {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px;
}

#timeout-logout-btn {
    color:#333;
    background-color:#fff;
    border-color:#ccc;
}

#timeout-continue-btn {
    margin: 0 10px;
    color:#fff;
    background-color:#325861;
    border-color: #2c5c63;
}

#info {
    background-color: white;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.defaultBtn {
    display: inline-block;
    padding: 4px 10px;
    margin: 5px 5px 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: linear-gradient(white,#a9a9a9);
    cursor: pointer;
}
.defaultBtn:focus, .defaultBtn:hover {
    background-color: #e6e6e6;
    border-color: #adadad
}

#mapContentGoogle {
    background: #B4E1FF;
    height: 800px;
    width: 100%;
    position:absolute;
}

/* =============================== D3 Layer Config ============================ */

.d3PointLayerConfigLi, .d3BoundaryLayerConfigLi{
    padding-bottom: 10px;
}

.d3GradientLayerConfigLi {
    padding-bottom: 20px;
}

.d3PointLayerConfigLi > a, .d3BoundaryLayerConfigLi > a, .d3GradientLayerConfigLi > a {
    background: url("../images/dropdown.png") no-repeat 100% 50%;
    padding-right: 12px;
    text-decoration: none;
    color: black;
    margin-left: 25px;
}

.d3PointLayerConfigLi > a.open, .d3BoundaryLayerConfigLi > a.open, .d3GradientLayerConfigLi > a.open {
    background-image: url("../images/downarrow_send.png");
}

#toggle-layer-onmap-display {
    margin: 0;
    padding: 0;
}

.toggleLayerOnMapDisplay {
    margin-top: -5px;
}

.toggleLayerOnMapDisplay label {
    display: inline-block;
    margin-right: 5px;
}

.d3PointLayerConfigPanelDiv, .d3BoundaryLayerConfigPanelDiv, .d3GradientLayerConfigPanelDiv {
    position: relative;
    background-color: #ebf7f7;
    padding-bottom: 5px;
    margin: 0 25px 15px 25px;
    border: 1px solid #d0e0e3;
    z-index: 1;
}

.d3PointLayerConfigPanelDiv.general, .d3BoundaryLayerConfigPanelDiv.general, .d3GradientLayerConfigPanelDiv.general {
    padding-top: 4px;
    padding-bottom: 4px;
}

.printConfig ul.controlTab {
    display: block;
    padding: 0;
    margin-bottom: -1px;
    margin-left: 25px;
}

.controlTab li {
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #d0e0e3;
    margin-bottom: -1px;
    text-align: center;
    cursor: pointer;
}

ul.controlTab > li:not(:last-child) {
    border-right: none;
}

.controlTab li a {
    text-decoration: none;
    color: #000;
}

.controlTab li.active {
    background: #ebf7f7;
    border-bottom: none;
    z-index: 2;
}

.checkSec {
    margin: 0 8px 5px 8px;
}

.checkSec input {
    margin: 5px 5px 0 5px;
}

.d3PointLayerConfigPanelDiv h1, .d3BoundaryLayerConfigPanelDiv h1, .d3GradientLayerConfigPanelDiv h1 {
    font-size: 12px;
    float: left;
    margin: 10px 0 0 15px;
}

.chooseCate {
    padding: 6px 0 6px 15px;
    background-color: #426288;
    margin: 15px 0 0 15px;
    width: 365px;
    color: white;
}
.chooseCateGrad {
    padding: 10px 0 10px -5px;
    margin-bottom: -30px;
    margin: 0 10px 5px 8px;
    width: 365px;
}
.d3PointLayerConfigPanelDiv table{
        margin: 0 0 10px 15px;
        border-collapse: collapse;
        border-right: 0;
        width: 380px;
}

.d3BoundaryLayerConfigPanelDiv table {
    margin: 0 0 10px 10px;
    border-collapse: collapse;
    border-right: 0;
    width: 390px;
}
.d3GradientLayerConfigPanelDiv table {
    margin: 5px 0 10px -10px;
    margin-left: -15px;
    margin-bottom: -10px;
    border-collapse: collapse;
    border-right: 0;
    width: 380px;
}
.d3GradientLayerConfigPanelDiv .legendConfig {
    width: 100px;
}
.d3PointLayerConfigPanelDiv table td, .d3BoundaryLayerConfigPanelDiv table td {
    border: 1px solid gray;
    padding: 2px 25px 2px 25px;
    background-color: white;
}

.d3PointLayerConfigPanelDiv table td.legendConfig, .d3BoundaryLayerConfigPanelDiv table td.legendConfig {
    white-space: nowrap;
    padding: 2px 10px;
}
.legendConfig{
    width: 80px;
}

.d3GradientLayerConfigPanelDiv table td {
    width: auto;
    border: 1px solid gray;
    padding: 2px 15px 2px 15px;
    background-color: white;
    color: black;
}

.d3GradientLayerConfigPanelDiv table td.legendConfig {
    white-space: nowrap;
    padding: 2px 10px;
}

#legend-config-icon {
    background: url(../images/devs_sprite_sheet.png) no-repeat -359px -187px;
    width: 14px;
    height: 13px;
    margin: 1px -5px 0 6px;
}

#choosePointCode{
    float: right;
    width: 180px;
    margin-right: 5px;
}

.shapeIcons {
    width: 17px;
    height: 17px;
    border: 0 !important;
}

.chooseCate button {
    padding: 4px;
    border-radius: 6px;
    background: linear-gradient(#ffffff,#ebf0f4);
    border: 1px solid #d0e0e3;
    display: inline-block;
}

.chooseCate button:hover {
    background: linear-gradient(#969595,#a1acae);
    color: #ffffff;
}

#chooseBoundaryCode {
    margin-left: 12%;
}

/*Color Spectrum css */
.colorSpectrum {
   display: inline-block;
    width: 325px;
    height: 15px;
    margin-bottom: -5px;
}

/* END Color Spectrum css */

/* Result Table */

#Result {
    position: relative;
    background: #ffffff;
    border: 1px solid #757C8C;
    z-index: 100;
}

#Result div.toolbar {
    background: #757C8C;
    padding: 6px;
    color: #ffffff;
}

#Result div.toolbar button {
    /*background: #1C2A34;*/
    /*color: #ffffff;*/
    /*padding: 3px 10px;*/
    /*border: 1px solid #1C2A34;*/
    /*margin-right: 7px;*/
}

.graycolor{
    color: gray;
}

.whitecolor{
    color: #ffffff;
}

#Result div.toolbar label {
    margin-right: 20px;
    font-weight: 700;
}

#Result div.data-toolbar {
    background: #d7dce5;
    padding: 10px;
    border-bottom: 1px solid #d8dadc;
    height: 20px;
}

#result-table-div {
    overflow: auto;
    width: 100%;
    font-family: Calibri;
}

#btn-pick-state-county {
    background: url(../images/pick-additional.png) no-repeat;
    background-size: 100%;
    border: none;
    padding: 13px 120px;
    margin-right: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

#Result table {
    width: 100%;
}

#Result table, #Result th, #Result tr {
    border: 0;
    border-collapse: collapse;
}

#Result table thead tr:first-child {
    border-top: none;
}

#Result table tr:nth-child(odd) {
    color: #3a4966;
    background-color: #fff;
    border-top: 1px solid #757C8C;
}

#Result table tr:nth-child(even) {
    color: #486285;
    background-color: #fafbff;
    border-top: 1px solid #757C8C;
}

#Result table th {
    text-align: left;
    font-weight: bold;
    border-top: 1px solid #757C8C;
    background: none repeat scroll 0 0 #d7dce5;
    padding: 10px 5px;
    white-space: nowrap;
}

#Result table td {
    padding: 5px;
}

#Result tfoot {
    font-size:90%;
    text-align:right;
    background:#E2E2E2;
}
#btnSearch{
    background: #1C2A34;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px 10px;
    border: 1px solid #1C2A34;
    cursor: pointer;
    font-size: 12px;
    font-family: Calibri;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

.download-icon {
    background: url(../images/download-btn.png) no-repeat;
    background-size: 100%;
    border: none;
    padding: 13px 51px;
    margin-right: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

.sort-icon{
    width: 8px;
    height: 12px;
    cursor: pointer;
    text-align:left;
}
.sort-iconUp{
    width: 8px;
    height: 12px;
    cursor: pointer;
    display: none;
}
.sort-iconDown{
    width: 8px;
    height: 12px;
    cursor: pointer;
    display: none;
}
.refresh-icon {
    background: url(../images/refresh-btn.png) no-repeat;
    background-size: 100%;
    border: none;
    padding: 11px 15px;
    margin-right: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

#pgn_num_page1 {
    background: url(../images/left-end.png) no-repeat;
    background-size: 100%;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

#pgn_num_prev {
    background: url(../images/left-arrow.png) no-repeat;
    background-size: 100%;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

#pgn_num_next {
    background: url(../images/right-arrow.png) no-repeat;
    background-size: 100%;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

#pgn_num_last {
    background: url(../images/right-end.png) no-repeat;
    background-size: 100%;
    border: none;
    margin-right: 5px;
    border-radius: 3px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}

/* Layer Field Picker Section */

#Result div.toolbar #main-layer-field-picker-div button {
    /*padding: 12px;*/
    vertical-align: middle;
}

#Result div.toolbar #main-layer-field-picker-div label {
    margin-right: 4px;
}

.help-topic-header {
    cursor: pointer;
    background: #426B99;
    padding: 10px 9px 10px 10px;
    display: inline-block;
    width: 95%
}

.help-topic-header-open {
    cursor: pointer;
    background: #185577;
    padding: 10px 9px 10px 10px;
    display: inline-block;
    width: 95%
}

.help-topic-header-div {
    display: inline-block;
    float: left;
}
#help-topic-question-div {
    width: 92%;
    float: left;
}
#help-topic-vid-icon-div {
    width: 8%;
    float: right;
    opacity: 0.5;
}

.lp-checkbox {
    margin: 0 5px 0 5px;
}

.pgn_num {
    cursor: pointer;
    text-decoration: none;
}

#pgn_num_prev {
    margin-right:10px;
}
#pgn_num_last {
    margin-right:5px;
}
#pgn_num_next {
    margin-left:10px;
}

.fieldPickerPage {
    padding-left:10px;
}

.inline-div {
    display: inline-block;
    position: relative;
}

.data-picker-block-div {
    background: white;
    width: 170px;
    border: 1px solid grey;
    margin-top: 0;
    padding: 0;
    position: absolute;
    max-height: 500px;
    overflow: auto;
}

.all-none-reverse-block {
    padding: 2px 0 0 5px;
}

.data-picker-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: auto;
}

#pick-state-county-data-div {
    background: none repeat scroll 0 0 white;
    border: 1px solid grey;
    position: absolute;
    left: 395px;
    width: 345px;
    height: auto;
    z-index: 100;
    font-family: Calibri;
    box-shadow: rgba(0, 0, 0, 0.43) 7px 7px 15px -1px;
}

#pick-county-data-ul {
    overflow-y:auto;
    max-height: 475px;
}

#pick-state-county-data-div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

#pick-state-county-data-div > ul > li {
    border: 1px dotted #e8e8e8;
    padding: 3px 0 3px 15px;
    background: url(../images/grdt_dpdn_normal.png) no-repeat 5px 7px;
}

#pick-state-county-data-div > div {
    background: #343c4c;
    color: #fff;
    padding: 5px 0 5px 15px;
}

.addtnl-data-level-div, .data-table-data-set-span, .data-table-grad-layer-label, .pointer {
    cursor: pointer;
    vertical-align: middle;
}

.tbl_ResultLst {
    min-height: 500px;
}

.fusion-layer-filter-div {
    margin: 0 15px 5px 15px;
}

.fusion-layer-filter-div select {
    float:right;
    width: 220px;
}

.fusion-layer-filter-div label {
    line-height: 18px;
}

.fusion-layer-filter-header-div {
    height: 20px;
    background: #1E394B;
    padding: 5px;
}

.fusion-layer-filter-header-div label {
    color: white;
}

.fusion-layer-filter-criteria-div {
    margin-bottom: -1px;
    border: 1px solid #597b88;
}

.fusion-layer-filter-criteria-header-div {
    height: 18px;
    background: #426288;
    padding: 5px;
    color: white;
}

.fusion-layer-filter-criteria-header-div button {
    float: right;
    width: 20px;
    height: 18px;
    margin-top: -6px;
    border: none;
}

.fusion-layer-filter-criteria-header-div b {
    vertical-align: middle;
    font-size: 12px;
}

.fusion-layer-filter-criteria-header-div .remove-button {
    margin-left: 5px;
}

.fusion-layer-filter-criteria-body-div {
    /*background: #ebf7f7;*/
    background: #fafbff;
}

.fusion-layer-filter-criteria-info-div {
    padding: 5px;
    font-weight: 600;
}

.fusion-layer-filter-criteria-info-div a{
    color: #1016cc;
}

.fusion-layer-filter-criteria-info-div span {
    float:right;
}

.dynamic-filter-conditions-ul {
    padding: 5px;
}

.dynamic-filter-conditions-ul li {
    height: 30px;
}

.dynamic-filter-conditions-ul span {
    margin-right: 10px;
}

.dynamic-filter-conditions-ul li .checkbox-input {
    margin: 0 10px;
}

.dynamic-filter-conditions-ul li .range-input {
    height: 17px;
    width: 80px;
    margin-right: 10px;
}

.add_btn{
    background: none;
    border: none;
    width: 80px;
    padding: 0;
    height: 20px;
    margin-left: 5px;
}

.img_add{
    width: 100%;
    border-radius: 3px;
}

.remove_btn{
    background: none;
    border: none;
    width: 65px;
    padding: 0;
    height: 20px;
}

.img_remove{
    width: 100%;
    border-radius: 3px;
}

.collapse-filter-button {
    background: url(../images/uparrow.png) no-repeat;
    margin-right: 3px;
    background-size: 100%;
}

.expand-filter-button {
    background: url(../images/downarrow.png) no-repeat;
    margin-right: 3px;
    background-size: 100%;
}

.remove-filter-button {
    background: url(../images/cancel.png) no-repeat;
    background-size: 100%;
}

#header {
    background:#F9F3DF;
    border-bottom: #860A1D thick solid;
    height: 100px;
    padding-left: 15px;
    position: relative;
}

#img1{
    width:25%;
    float:left;
}

#title1{
    width:50%;
    float:left;
}

#logoutAndHelpLinks {
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    width: 25%;
    text-align: right;
}

.selectedDataTableRow {
    background: #BBCAE7 !important;
}

#mapCarto {
    display: none;
}

.link-button-Remove-All {
    border-collapse: collapse;
    background: #4A6A95;
    color: white;
    width: auto !important;
    height: 20px;
    margin-top: 2px;
    border: none;
    padding: 1px 8px;
    cursor: pointer;
    float: right;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.43) 2px 2px 4px -1px;
}