/* SAMHSA.gov - Universal Screen 	*/
/* Updated 13-March-2013			*/


body {
	background: #eee9d6 url("/assets/images/brownWhiteBG1024x43.gif") repeat-y center center;
	font-family: "Trebuchet MS", Verdana, san-serif;
	font-size: 0.8em;
	margin: 0 auto;
}

/* =Form Elements
---------------------------------------- */

/* =Structural
---------------------------------------- */
#wrapper {
	/*	border-top: 7px solid #85884f; */
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 980px;
}
#pageTopper {
	/* background: #ede0d1; */
	border-bottom: 1px solid #bab1a2;
	padding: 2px 3px;
}
.header {
	background: #f9f3dd;
	height: 97px;
	margin: 0 auto;
	padding: 5px 0 0 0;
}
#universalNav {
	/* border-bottom: 1px solid #bab1a2; */
	margin: 0 auto;
	padding: 0;
}
.footer {
	background: #577786;
	color: #fff !important;
	margin: 0 auto;
	padding: 0 0 10px 0;
}

.header a {
	background: transparent;
}
.header a:hover {
	background: transparent;
}
.header form {
	margin: 0;
	padding: 0;
}
#headerLeftSide {
	float: left;
}
#headerLeftSide h1 {
	display: none;
	visibility: hidden;
}

/* =UniversalNav Formatting
---------------------------------------- */
#universalNav {
	clear: both;
	color: #8a180e;
	font-size: 1.0em;
	height: 22px;
	text-align: center;
	width: 100%;
        background-color: #8a180e;
}

a#lastNavItem {
	border: 0 !important;
}
.mainPageHeader {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-size: 2.4em;
    font-weight: bold;
    margin-top: 20px;
}
.title {
    color: #990000;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    background-color: #990000;
    
}
table.InWhat{
    background-color: #666666;
    border: 0px;
    width: 450px;
}
table.Staff{
    height: 300px;
    background-color: #666666;
    width: 225px;
}
.tr{
    background-color: 666666;
}
th.tableboxwhiteLabels {  
   background-color: #999966;
   font-family : arial,helvetica; 
   font-size : 0.9em; 
   font-weight : normal; 
   text-decoration : none; 
   vertical-align : bottom; 
   text-align : left; 
   text-indent : 6px; 
   border: 0px;
 } 
 td.tableboxwhiteLabels { 
   background-color: #cccc99;
   font-family : arial,helvetica; 
   font-size : 0.9em; 
   font-weight : normal; 
   text-decoration : none; 
   vertical-align : bottom; 
   text-align : left; 
   text-indent : 6px;    
   border: 0px;
   text-decoration : none; 
   vertical-align : bottom; 
   text-align : left; 
   text-indent : 0px; 
 } 
 div.Title {
    color: #990000;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 0px;
    background-color: #999966;
    font-family : arial,helvetica; 
 }
 div.txtarea{
     color: black;
     background-color: #ffffcc;
     font-family : arial,helvetica;
     font-size: 1.2em;
     font-weight: bold;
     padding-top: 0px;
 }

