body {
    font-size: 125%;
    background-color: #FFFFFF;
}

h2 {
    color: #1E394B;
    font: bold 16px tahoma;
    margin-top: 40px;

}

.main {
    margin-bottom: 15px;
    min-height: 700px;
    background-color:#fff;
    /*border: 1px solid #eeee;*/
    padding: 0;
}

.header-ribbon {
    width: 100%;
    padding: 10px 0;
    background: #eeeeee;
    color: #1E384B;
}

#headerContainer .logo-container {
    margin: 15px 0 15px 0;
    width: 265px;
    height: 100px;
    margin-left: 20px;
}

.header-page-size-div {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.header-page-size-div a{
    color: #1E394B;
    text-decoration: none;
}

.small_eagle_icon {
    width: 25px;
    height: 25px;
    float: left;
    margin: -5px 10px 0 0;
}

#headerContainer {
    padding: 0;
    margin: 0;
    position: relative;
    background: white;
    width: 100%;
    height: 220px;
}

.eagle-svg-icon, .logo-svg-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #1d384b;
}

.fb-footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #4c4a4b;
}

.tw-footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #4c4a4b;
}

.yt-footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #4c4a4b;
}

.blog-footer{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: #4c4a4b;
}

.eagle-footer-logo{
    width: 8%;
    height: 83px;
    display: inline-block;
    float: right;
    margin-top: -100px;
    margin-right: 43px;
    fill: #ffffff;
}

.logo-samhsa-footer{
    display: inline-block;
    width: 18%;
    float: right;
    height: 60px;
    fill: white;
    margin-top: -85px;
    margin-right: 140px;
}

.footer_fb {
    border: none;
    float: left;
    color: #4c4a4b;
}

.footer-links {
    margin-left: 0;
    width: calc(100% - 40px);
    display: inline-block;
    padding: 20px;
}

.header-hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1.5px solid #eee;
}

.panel-default>.panel-heading {
    color: #FFFFFF;
    background-color: #1E394B;
    border-color: #ddd;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #1E394B;
    border-color: #2e6da4;
}

.page-header {
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 0.4em solid #A12929;
    background: #F9F3DD;
}

.right-separator {
    border-right: 1px #ccc solid;
}

.loginLink {
    font-size: 100%;
    padding: 6px 3px;
}

@media (max-width: 768px){
    .right-separator{
        border-right: none;
        margin-bottom: 25px;
    }
}
@-moz-document url-prefix() {
    .footer {
        margin-left: 379px !important;
    }
}

/* START SAHHSA Footer */
#footer {
    background: #eeeeee;
    font-size: 100%;
    width: 100%;
    text-align: left;
    margin-left: 0;
    display: block;
    margin-top: 20px;
}
#Footnotes {
    width: 100%;
    background: #1d384b;
    margin: 0;
    color: #fff;
    height: 145px;
    margin-bottom: 30px;
}

#socialMedia {
    display: inline-block;
    margin: 15px 0 10px 12px;
    height: 36px;
}

#socialMedia ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

#socialMedia ul li {
    border: none;
    float: left;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-size: 36px;
}

#socialMedia ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

#footer a {
    text-decoration: none;
    font-size: 15px;
    color: #4a4a4a;
    font-family: Tahoma, sans-serif;
}

.accessible-alt {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.language-assistance-div {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

.language-assistance-div h3 {
    margin-bottom: 24px;
    margin-left: 20px;
    font-size: 120%;
    color: #4a4a4a;
    font-weight: bold;
}

.language-assistance-div ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 10px;
}

.language-assistance-div ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin-bottom: 8px;
    border-right: 1px solid #a3a7a9;
}

#footer-link-nav {
    display: inline-block;
    margin-top: 25px;
    text-align: left;
}

#footer-link-nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 10px;
}

#footer-link-nav ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin-bottom: 8px;
    border-right: 1px solid #a3a7a9;
}

.footnote_text {
    padding: 10px 0 10px 20px;
    width: calc(100% - 360px);
    margin: 10px 0;
    display: inline-block;
}

.footnote_text p {
    color: #eeeeee;
    font-size: 14px;
    margin: 15px 0 0 0;
}

footer img {
    max-width: 100%;
    height: auto;
}
.footer-margin {
    margin-top: 50px;
}
#blue-footer {
    background: #334b56;
    font-size: 11pt;
    padding-top: 10px;
}
#red_footer{
    padding: 10px 0;
    color: #fff;
    font-size: 11pt;
    background: #8a180e;
}
#blue-footer ul {
    list-style-type: none;
    padding-left: 0;
}
#blue-footer ul li {
    margin-bottom: 8px;
}
#blue-footer ul li:hover {
    color: #fff;
    text-decoration: none;
    background: #577786;
}
#blue-footer ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-layers {
    padding: 10px 0;
}
.language-assitance-title {
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -25px;
}
.top-buffer {
    margin-top: 20px;
}
/* samhsa_social_media */
ul.social_media {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
}
ul.social_media li {
    height: 40px;
    display: block;
    margin: 0 4px;
    padding: 0;
    float: left;
}
ul.social_media li img {
    height: 40px;
    width: 40px;
    margin-left: 12px;
    margin-top: -2px;
}
ul.social_media li img:hover {
    position: relative;
    top: 1px;
}
#blue-footer ul.social_media li {
    background: none;
}

#serverNotificationDiv {
    /*display:none; */
    border: 1px solid red;
    background: #ffe6e6;
    margin: 5px;
    padding:5px;
}

#serverNotificationDiv img, #serverNotificationDiv span {
    vertical-align: middle;
}

#serverNotificationDiv img {
    max-height: 20px;
}

#serverNotificationServerMessage {
    color:red;
}

/* END SAHHSA Footer */