.svg-icon {
    display: inline-block;
    width: 22px;
    height: 19px;
    fill: currentColor;
}
.st0{
    /*fill:#FFFFFF;*/
}
.header_icons_right {
    width: 15px;
    height: 15px;
    margin: 9px 5px;
    float: left;
}
.header_icons_right2 {
    width: 17px;
    height: 16px;
    margin: 9px 5px 0 0;
    float: left;
}
.header_arrow_icons {
    /*width: 0.8em;*/
    /*height: 0.8em;*/
    /*margin: 11px 6px;*/
    /*float: left;*/
    width: 0.5em;
    height: 0.9em;
    margin: 11px 6px;
    float: left;
}
#dbl-arrow {
    /*width: 17px;*/
    /*height: 16px;*/
    width: 10px;
    height: 19px;
}
#small-double-arrow {
     width: 10px;
     height: 15px;
     color: white;
 }

.toolbar-icon {
    padding: 5px;
}
.new_window_icon{
    margin-right: 5px;
    width: 9%;
    vertical-align: middle;
}
.play_video_icon{
    margin-right: 5px;
    width: 9%;
    vertical-align: middle;
}
.video_icon{
    /*width: 6%;*/
    vertical-align: middle;
    float: right;
    fill: #ffff;
    margin-top: -2px;
}
.time_icon {
    width: 15px;
    margin-right: 8px;
    margin-top: -2px;
}
.search_icon {
    width: 15px;
    margin-top: 2px;
    fill: white;
}
.download_icon {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}
.sort_icon{
    width: 8px;
    height: 12px;
}
.refresh_icon {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}
#text_property_icon {
    width: 12px;
    vertical-align: middle;
    height: 14px;
    margin-top: -4px;
    fill: white;
}
#text-property-icon1 {
    width: 12px;
    vertical-align: middle;
    height: 14px;
    margin-top: -4px;
    fill: white;
}
#text-property-icon1:hover{
    fill: #E8B21C;
}
#text-property-icon2 {
    width: 12px;
    vertical-align: middle;
    height: 14px;
    margin-top: -4px;
    fill: white;
}
#text-property-icon2:hover{
    fill: #E8B21C;
}
#text-property-icon3 {
    width: 14px;
    vertical-align: middle;
    height: 21px;
    margin-top: -2px;
    fill: white;
}
#text-property-icon3:hover{
    fill: #E8B21C;
}
#color-picker-icon{
    width: 10px;
    margin-left: 5px;
}
#rotate-icon{
    width: 14px;
    vertical-align: middle;
    height: 21px;
    margin-top: -2px;
    fill: white;
}
.more_option_icon{
    fill: white;
    margin-top: 2px;
}