@()

<div id="footer">
    <div class="footer-links">
        <div id="socialMedia" class="footerlink">
            <ul>
                <li id="footerfacebook" class="footerIcons">
                    <a class="footer_fb" href="http://www.facebook.com/samhsa" target="_blank" title="Go to SAMHSA's Facebook Page, Opens new window"><span class="accessible-alt">Visit the SAMHSA Facebook page.</span>
                        <svg class="fb-footer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#fb-footer")"></use>
                        </svg>
                        </a>
                </li>
                <li class="footer_tw" id="footertwitter" class="footerIcons">
                    <a class="footer_tw" href="http://twitter.com/samhsagov" target="_blank" title="Go to SAMHSA's Twitter Page, Opens new window"><span class="accessible-alt">Visit SAMHSA on Twitter</span>
                        <svg class="tw-footer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#tw-footer")"></use>
                        </svg>
                    </a>
                </li>
                <li id="footeryoutube" class="footerIcons">
                    <a class="footer_yt" href="http://www.youtube.com/samhsa/" target="_blank" title="Go to SAMHSA's YouTube Channel, Opens new window"><span class="accessible-alt">Visit the SAMHSA YouTube channel</span>
                        <svg class="yt-footer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#yt-footer")"></use>
                        </svg>
                    </a>
                </li>
                <li id="footerrss" class="footerIcons">
                    <a class="footer_blog" href="http://samhsa.gov/rss" target="_blank" title="Go to SAMHSA's RSS Feed page, Opens new window"><span class="accessible-alt">Go to SAMHSA's RSS Feed page</span>
                        <svg class="blog-footer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#blog-footer")"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="language-assistance-div">
            <h3>Language Assistance Available</h3>
            <ul>
                <li><a id="espanol" href="https://www.samhsa.gov/language-assistance-services#spanish" title="Español">Español</a></li>
                <li><a id="chinese" href="https://www.samhsa.gov/language-assistance-services#chinese" title="繁體中文">繁體中文</a></li>
                <li><a id="viet" href="https://www.samhsa.gov/language-assistance-services#vietnamese" title="Tiếng Việt">Tiếng Việt</a></li>
                <li><a id="korean" href="https://www.samhsa.gov/language-assistance-services#korean" title="한국어">한국어</a></li>
                <li><a id="tagalog" href="https://www.samhsa.gov/language-assistance-services#tagalog" title="Tagalog">Tagalog</a></li>
                <li><a id="russian" href="https://www.samhsa.gov/language-assistance-services#russian" title="Русский">Русский</a></li>
                <li><a id="arabic" href="https://www.samhsa.gov/language-assistance-services#arabic" title="العربية">العربية</a></li>
                <li><a id="creole" href="https://www.samhsa.gov/language-assistance-services#creole" title="Kreyòl Ayisyen">Kreyòl Ayisyen</a></li>
                <li><a id="french" href="https://www.samhsa.gov/language-assistance-services#french" title="Français">Français</a></li>
                <li><a id="polish" href="https://www.samhsa.gov/language-assistance-services#polish" title="Polski">Polski</a></li>
                <li><a id="portuguese" href="https://www.samhsa.gov/language-assistance-services#portuguese" title="Português">Português</a></li>
                <li><a id="italian" href="https://www.samhsa.gov/language-assistance-services#italian" title="Italiano">Italiano</a></li>
                <li><a id="german" href="https://www.samhsa.gov/language-assistance-services#german" title="Deutsch">Deutsch</a></li>
                <li><a id="japan" href="https://www.samhsa.gov/language-assistance-services#japanese" title="日本語">日本語</a></li>
                <li><a id="farsi" href="https://www.samhsa.gov/language-assistance-services#farsi" title="فارسی">فارسی</a></li>
                <li><a id="english" href="https://www.samhsa.gov/language-assistance-services#english" title="English">English</a></li>
            </ul>
        </div>

        <nav id="footer-link-nav">
            <ul>
                <li><a href="http://www.samhsa.gov/" title="Go to SAMHSA.gov Homepage">
                    Home</a></li>
                <li><a href="http://www.samhsa.gov/sitemap" title="Go to &quot;Site Map&quot; page">
                    Site Map</a></li>
                <li><a href="http://samhsa.gov/viewers-plugins" title="Go to Viewers &amp; Plugins page">
                    Viewers &amp; Plugins</a></li>
                <li><a href="http://samhsa.gov/accessibility" title="Go to Accessibility page">
                    Accessibility</a></li>
                <li><a href="http://samhsa.gov/privacy" title="Go to SAMHSA's Privacy Policy page">
                    Privacy</a></li>
                <li><a href="http://samhsa.gov/disclaimer" title="Go to &quot;Exit Disclaimer&quot; page">
                    Disclaimer</a></li>
                <li><a href="http://www.samhsa.gov/foia/" title="Go to SAMHSA's Freedom of Information Act (FOIA) page">
                    FOIA</a></li>
                <li><a href="http://samhsa.gov/plain-language" title="Go to Plain Language policy">
                    Plain Language</a></li>
                <li><a href="https://www.samhsa.gov/nondiscrimination-notice" title="Go to search SAMHSA Nondiscrimination Notice">
                    Nondiscrimination Notice</a></li>
            </ul>
        </nav>

    </div>

    <div id="Footnotes" class="footerlink">
        <div class="footnote_text"><p>SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities.</p>
            <p>5600 Fishers Ln • Rockville, MD 20852<br>
                1-877-SAMHSA-7 (1-877-726-4727)</p></div>
        <div id="samhsa_logo_section">
            <a href="//www.samhsa.gov" class="samhsa_logo_footer" aria-label="SAMHSA Substance Abuse and Mental Health Services Administration" id="anch_5">
                <svg class="logo-samhsa-footer"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#logo-samhsa")"></use>
                </svg>
            </a>
            <svg class="eagle-footer-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="@routes.Assets.versioned("images/samhsa_devs_vector.svg#eagle-footer-logo")"></use>
            </svg>
        </div>
    </div>
</div>
<div class="bottom-clearer"></div>
@*
<footer>
    <div id="blue-footer" class="row">
        <div class="footer-layers col-lg-12">
            <nav role="navigation" class="col-md-2 col-sm-2 col-xs-4">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.samhsa.gov.url")" title="@Messages.apply("link.samhsa.gov.title")">SAMHSA.gov Homepage</a></li>
                    <li><a href="@Messages.apply("link.accessibility.url")" title="@Messages.apply("link.accessibility.title")">Accessibility</a></li>
                    <li><a href="@Messages.apply("link.privacy.url")" title="@Messages.apply("link.privacy.title")">Privacy</a> </li>
                    <li><a href="@Messages.apply("link.disclaimer.url")" title="&@Messages.apply("link.disclaimer.title")">Disclaimer</a></li>
                    <li><a href="@Messages.apply("link.viewers.and.plugins.url")" title="@Messages.apply("link.viewers.and.plugins.title")">Viewers &amp; Plugins</a></li>
                    <li><a href="@Messages.apply("link.foia.url")" title="@Messages.apply("link.foia.title")">FOIA</a></li>
                    <li><a href="@Messages.apply("link.plain.language.url")" title="@Messages.apply("link.plain.language.title")">Plain Language</a></li>
                    <li><a href="@Messages.apply("link.site.map.url")" title="@Messages.apply("link.site.map.title")">Site Map</a></li>
                    <li><a href="@Messages.apply("link.archives.url")" title="@Messages.apply("link.archives.title")">SAMSHA Archive</a></li>
                </ul>
            </nav>
            <nav role="navigation" class="col-md-2 col-sm-2 col-xs-4">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.strategic.url")" title="@Messages.apply("link.strategic.title")">Strategic Initiatives</a></li>
                    <li><a href="@Messages.apply("link.health.financing.url")" title="@Messages.apply("link.health.financing.title")">Health Financing</a></li>
                    <li><a href="@Messages.apply("link.prevention.url")" title="@Messages.apply("link.prevention.title")">Prevention</a></li>
                    <li><a href="@Messages.apply("link.treatment.url")" title="@Messages.apply("link.treatment.title")">Treatment</a></li>
                    <li><a href="@Messages.apply("link.recovery.url")" title="@Messages.apply("link.recovery.title")">Recovery</a></li>
                    <li><a href="@Messages.apply("link.other.topics.url")" title="@Messages.apply("link.other.topics.title")">Other Topics</a></li>
                    <li><a href="@Messages.apply("link.nondiscrimination.notice.url")" title="@Messages.apply("link.nondiscrimination.notice.title")">Nondiscrimination Notice</a></li>
                    <li><a href="@Messages.apply("link.it.plugins.url")" title="@Messages.apply("link.it.plugins.title")" target="_blank"></a></li>
                </ul>
            </nav>
            <nav role="navigation" class="col-md-2 col-sm-2 col-xs-4">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.about.us.url")" title="@Messages.apply("link.about.us.title")">About Us</a></li>
                    <li><a href="@Messages.apply("'link.find.help.url")" title="@Messages.apply("link.find.help.title")">Find Help</a></li>
                    <li><a href="@Messages.apply("link.publications.url")" title="@Messages.apply("link.publications.title")">Publications</a></li>
                    <li><a href="@Messages.apply("link.newsroom.url")" title="@Messages.apply("link.newsroom.title")">Newsroom</a></li>
                    <li><a href="@Messages.apply("link.budget.url")" title="@Messages.apply("link.budget.title")">Budget</a></li>
                    <li><a href="@Messages.apply("link.data.url")" title="@Messages.apply("link.data.title")">Data</a></li>
                    <li><a href="@Messages.apply("link.grants.url")" title="@Messages.apply("link.grant.awards.title")">Grants</a></li>
                    <li><a href="@Messages.apply("link.grant.awards.url")" title="@Messages.apply("link.grants.title")">Grant Awards</a></li>
                </ul>
            </nav>
            <div class="visible-xs clearfix"></div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <ul class="social_media">
                    <li><a href="http://www.facebook.com/samhsa" target="_blank"><img src="@routes.Assets.versioned("images/facebook.png")" alt="Facebook"/></a></li>
                    <li><a href="http://www.twitter.com/samhsagov" target="_blank"><img src="@routes.Assets.versioned("images/twitter.png")" alt="Twitter"/></a></li>
                    <li><a href="http://www.youtube.com/samhsa/" target="_blank"><img src="@routes.Assets.versioned("images/youtube.png")" alt="YouTube"/></a></li>
                    <li><a href="http://www.samhsa.gov/rss" target="_blank"><img src="@routes.Assets.versioned("images/rss.png")" alt="RSS" /></a></li>
                </ul>
                <div class="text-center">
                    <a href="http://blog.samhsa.gov/" target="_blank"><img src="@routes.Assets.versioned("images/samhsa-email.png")" alt="Blog"/></a>
                </div>
                <div class="text-center top-buffer">
                    <a href="https://public.govdelivery.com/accounts/USSAMHSA/subscriber/new" target="_blank">
                        <img src="@routes.Assets.versioned("images/samhsa-blog.png")" alt="Email Updates"/>
                    </a>
                </div>
                <div></div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <a href="http://www.whitehouse.gov/" target="_blank"><img src="@routes.Assets.versioned("images/white_house.png")" alt="White House"/></a>
                </div>
                <div class="text-center top-buffer">
                    <a href="http://www.hhs.gov/" target="_blank"><img src="@routes.Assets.versioned("images/hhslogo.png")" alt="HHS"/></a>
                </div>
                <div class="text-center top-buffer">
                    <a href="http://www.usa.gov/" target="_blank"><img src="@routes.Assets.versioned("images/usa.png")" alt="USA"/></a>
                </div>
                <div class="text-center top-buffer">
                    <a href="http://www.grants.gov/" target="_blank"><img src="@routes.Assets.versioned("images/grants.png")" alt="Grants"/></a>

                </div>
            </div>
        </div>
        <div class="footer-layers col-lg-12">
            <div class="language-assitance-title">
                Language Assistance Available
            </div>
        </div>
        <div class="footer-layers col-lg-12">
            <nav role="navigation" class="col-md-3 col-sm-4 col-xs-6">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.spanish.url")" lang="es">Español</a></li>
                    <li><a href="@Messages.apply("link.chinese.url")" lang="zh">繁體中文</a></li>
                    <li><a href="@Messages.apply("link.vietnamese.url")" lang="vi">Tiếng Việt</a></li>
                    <li><a href="@Messages.apply("link.korean.url")" lang="ko">한국어</a></li>
                </ul>
            </nav>
            <nav role="navigation" class="col-md-3 col-sm-4 col-xs-6">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.tagalog.url")" lang="tl">Tagalog</a></li>
                    <li><a href="@Messages.apply("link.russian.url")" lang="ru">Русский</a></li>
                    <li><a href="@Messages.apply("link.arabic.url")" lang="ar">العربية</a></li>
                    <li><a href="@Messages.apply("link.creole.url")" lang="sg">Kreyòl Ayisyen</a></li>
                </ul>
            </nav>
            <nav role="navigation" class="col-md-3 col-sm-4 col-xs-6">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.french.url")" lang="fr">Français</a></li>
                    <li><a href="@Messages.apply("link.polish.url")" lang="pl">Polski</a></li>
                    <li><a href="@Messages.apply("link.portuguese.url")" lang="pt">Português</a></li>
                    <li><a href="@Messages.apply("link.italian.url")" lang="it">Italiano</a></li>
                </ul>
            </nav>
            <nav role="navigation" class="col-md-3 col-sm-4 col-xs-6">
                <ul class="menu">
                    <li><a href="@Messages.apply("link.german.url")" lang="de">Deutsch</a></li>
                    <li><a href="@Messages.apply("link.japanese.url")" lang="ja">日本語</a></li>
                    <li><a href="@Messages.apply("link.farsi.url")" lang="fa">فارسی</a></li>
                    <li><a href="@Messages.apply("link.english.url")" lang="en">English</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="red_footer" class="row">
        <div class="col-sm-8 col-xs-12">
            <p>SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities.</p>
            <p>5600 Fishers Ln • Rockville, MD 20857
                <br>1-877-SAMHSA-7 (1-877-726-4727)
            </p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="@routes.Assets.versioned("images/samhsa_footer2.png")" class="pull-right img-responsive" alt="SAMHSA"/>
        </div>
    </div>
</footer>*@
